<!doctype html>
<html lang="en">
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
       
        
    </head>
    <body>
        
        
        <div class="col-md-4"></div>
        <div class="col-md-4" style="text-align: center">
            <img hidden width="400" src="https://scontent-yyz1-1.xx.fbcdn.net/v/t35.0-12/27786801_1646432978748970_1394234258_o.png?oh=513cbba9bd1914c3c82af7c27c8e001c&oe=5A792862"
                style="margin-bottom: 30px">
            <div hidden class="wrapper">
                <input type="text" class="form-control username" placeholder="Instagram Username" aria-describedby="basic-addon1" >
                <a style="margin-top: 10px" class="btn btn-primary submitBtn">Submit</a>

            </div>
        </div>
        <div class="col-md-4"></div>
        
        <!-- Latest compiled and minified JavaScript -->
        
        <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {
                $('img').fadeIn(1000,function () {
                    $('.wrapper').fadeIn(2000);
                });
                $('.submitBtn').click(function (event) {
                    window.location.replace(window.location.href + "authorize_user?username=" + $('.username').val());
                });
                $(".username").keyup(function (event) {
                    if (event.keyCode === 13) {
                        $(".submitBtn").click();
                    }
                });
            });
        </script>
    </body>
</html>